.section {
  background-color: black;
  color: white;
}

.section .section-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

.section .section-content > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  
}

.section-content .stat {
  font-size: 100px;
  font-weight: 100;
  flex-grow: 1;
}

.section-content .stat-desc {
}

@media only screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
    .section .section-content {
        flex-direction: column;
        align-items: center;
      }
}

@media only screen and (max-width: 375px) {
  .section .section-content {
    flex-direction: column;
    align-items: center;
  }
}
