
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }

  .w-hidden-main {
    display: inherit !important;
  }

  .w-hidden-medium {
    display: none !important;
  }

  .w-col-medium-1 {
    width: 8.33333%;
  }

  .w-col-medium-2 {
    width: 16.6667%;
  }

  .w-col-medium-3 {
    width: 25%;
  }

  .w-col-medium-4 {
    width: 33.3333%;
  }

  .w-col-medium-5 {
    width: 41.6667%;
  }

  .w-col-medium-6 {
    width: 50%;
  }

  .w-col-medium-7 {
    width: 58.3333%;
  }

  .w-col-medium-8 {
    width: 66.6667%;
  }

  .w-col-medium-9 {
    width: 75%;
  }

  .w-col-medium-10 {
    width: 83.3333%;
  }

  .w-col-medium-11 {
    width: 91.6667%;
  }

  .w-col-medium-12 {
    width: 100%;
  }

  .w-col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 767px) {
  .w-hidden-main, .w-hidden-medium {
    display: inherit !important;
  }

  .w-hidden-small {
    display: none !important;
  }

  .w-row, .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }

  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }

  .w-col-small-1 {
    width: 8.33333%;
  }

  .w-col-small-2 {
    width: 16.6667%;
  }

  .w-col-small-3 {
    width: 25%;
  }

  .w-col-small-4 {
    width: 33.3333%;
  }

  .w-col-small-5 {
    width: 41.6667%;
  }

  .w-col-small-6 {
    width: 50%;
  }

  .w-col-small-7 {
    width: 58.3333%;
  }

  .w-col-small-8 {
    width: 66.6667%;
  }

  .w-col-small-9 {
    width: 75%;
  }

  .w-col-small-10 {
    width: 83.3333%;
  }

  .w-col-small-11 {
    width: 91.6667%;
  }

  .w-col-small-12 {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }

  .w-hidden-main, .w-hidden-medium, .w-hidden-small {
    display: inherit !important;
  }

  .w-hidden-tiny {
    display: none !important;
  }

  .w-col {
    width: 100%;
  }

  .w-col-tiny-1 {
    width: 8.33333%;
  }

  .w-col-tiny-2 {
    width: 16.6667%;
  }

  .w-col-tiny-3 {
    width: 25%;
  }

  .w-col-tiny-4 {
    width: 33.3333%;
  }

  .w-col-tiny-5 {
    width: 41.6667%;
  }

  .w-col-tiny-6 {
    width: 50%;
  }

  .w-col-tiny-7 {
    width: 58.3333%;
  }

  .w-col-tiny-8 {
    width: 66.6667%;
  }

  .w-col-tiny-9 {
    width: 75%;
  }

  .w-col-tiny-10 {
    width: 83.3333%;
  }

  .w-col-tiny-11 {
    width: 91.6667%;
  }

  .w-col-tiny-12 {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .w-nav[data-collapse="medium"] .w-nav-menu {
    display: none;
  }

  .w-nav[data-collapse="medium"] .w-nav-button {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .w-nav[data-collapse="small"] .w-nav-menu {
    display: none;
  }

  .w-nav[data-collapse="small"] .w-nav-button {
    display: block;
  }

  .w-nav-brand {
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .w-nav[data-collapse="tiny"] .w-nav-menu {
    display: none;
  }

  .w-nav[data-collapse="tiny"] .w-nav-button {
    display: block;
  }
}



.section.hero-home-a {
  padding-top: 320px;
  padding-bottom: 200px;
  position: relative;
}

.h1-animation-two {
  color: var(--color--fade-out);
}


.subtitle {
  font-size: 32px;
  font-weight: 300;
  line-height: 125%;
}


.text-field-checkout.cart-version {
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.image-cart {
  border-radius: 8px;
}

.brand-navbar {
  height: 100%;
}

.container-navbar {
  width: 100%;
  height: 100%;
  max-width: 1496px;
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.cart-header {
  background-color: rgba(255, 255, 255, .1);
}

.nav-menu {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.title-wrap-home-a {
  z-index: 10;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.limit-subtitle-home-a {
  max-width: 680px;
}

.wrap-abstract-hero-home-a-one {
  width: 91px;
  opacity: .2;
  filter: blur(4px);
  position: absolute;
  top: 160px;
  bottom: auto;
  left: 10%;
  right: auto;
}

.wrap-abstract-hero-home-a-two {
  width: 180px;
  opacity: .7;
  filter: blur(1px);
  position: absolute;
  top: auto;
  bottom: 10px;
  left: 2%;
  right: auto;
}

.wrap-abstract-hero-home-a-three {
  width: 80px;
  opacity: .2;
  filter: blur(3px);
  position: absolute;
  top: auto;
  bottom: 200px;
  left: 14%;
  right: auto;
}

.wrap-abstract-hero-home-a-four {
  width: 155px;
  opacity: 1;
  filter: none;
  position: absolute;
  top: 140px;
  bottom: auto;
  left: auto;
  right: 3%;
}

.wrap-abstract-hero-home-a-five {
  width: 120px;
  opacity: .3;
  filter: none;
  position: absolute;
  top: auto;
  bottom: 70px;
  left: auto;
  right: 12%;
}

.master-map-image {
  width: 100%;
  max-width: 1058px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.image-map {
  width: 100%;
}

.wrap-map-text {
  width: 100%;
  max-width: 870px;
  color: #feead8;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-map {
  font-family: var(--font--headings);
  color: var(--color--light);
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
}

.master-abstrcts-home-a {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-logos-top {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
}

.master-logos-dividers {
  border-top: 1px solid rgba(255, 252, 243, .3);
  border-bottom: 1px solid rgba(255, 252, 243, .3);
  padding-top: 40px;
  padding-bottom: 40px;
}

.flex-logos-wide {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.image-logo-wide {
  height: 32px;
  max-width: 200px;
  object-fit: contain;
}

.center-heading {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.center-heading.mg-bottom-80 {
  margin-bottom: 80px;
}

.center-heading.mg-bottom-100 {
  margin-bottom: 100px;
}

.center-heading.mg-bottom-24 {
  margin-bottom: 24px;
}

.text-fade-out {
  color: var(--color--fade-out);
}

.no-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.grid-numbers-thirds {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.wrap-number {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.text-big-number {
  font-size: 112px;
  font-weight: 300;
  line-height: 110%;
}

.text-sub-number {
  font-size: 22px;
  font-weight: 400;
}

.list-scroll-over-projects {
  flex-direction: column;
  display: flex;
  position: relative;
}

.item-scroll-over-project {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.link-scroll-over-project {
  width: 100%;
  height: 100vh;
  max-height: 1200px;
  min-height: 700px;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.overlay-scroll-project {
  background-image: linear-gradient(rgba(20, 20, 20, .8), rgba(20, 20, 20, .7) 39%, rgba(20, 20, 20, 0));
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 64px;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-scroll-project-name {
  font-family: var(--font--headings);
  font-size: 52px;
  font-weight: 300;
  line-height: 100%;
  text-align: left;
  width: 100%;
}

.right-big-scroll-project {
  text-align: left;
  width: 100%;
}

.flex-big-top-project {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.text-description-scroll-project {
  font-size: 24px;
  line-height: 135%;
}

.flex-heading-left {
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.flex-heading-left.mg-bottom-110 {
  margin-bottom: 110px;
}

.flex-heading-left.mg-bottom-80 {
  margin-bottom: 80px;
}

.master-moving-text-service {
  width: 100%;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(0, 101%);
}

.text-moving-text-service {
  font-family: var(--font--headings);
  color: var(--color--elevation);
  flex: none;
  font-size: 110px;
  font-weight: 500;
  line-height: 170px;
}

.grid-services-halves {
  width: 100%;
  max-width: 1123px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
}

.master-services-halves {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.move-moving-text-service {
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.tag-animated-service {
  height: 32px;
  border: 1px solid var(--color--light);
  color: var(--color--light);
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.single-moving-text-service {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  font-size: 120px;
  display: flex;
}

.tile-animated-service {
  grid-column-gap: 250px;
  grid-row-gap: 250px;
  background-color: var(--color--elevation);
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.flex-right {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.list-tags-service-tile {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: wrap;
  align-items: flex-start;
  display: flex;
}

.wrap-abstract-section-top-right {
  width: 155px;
  opacity: 1;
  filter: none;
  position: absolute;
  top: 40px;
  bottom: auto;
  left: auto;
  right: 3%;
}

.wrap-abstract-section-bottom-left {
  width: 180px;
  opacity: 1;
  filter: none;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 1%;
  right: auto;
}

.tile-values-sticky {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  background-color: var(--color--elevation);
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 32px;
  display: flex;
}

.sticky-sticky-halves {
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
}

.left-values-sticky-halves {
  max-width: 550px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.circle-check-values {
  width: 80px;
  height: 80px;
  background-color: var(--color--light);
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.gird-sticky-halves {
  grid-column-gap: 64px;
  grid-template-rows: auto;
}

.left-sticky-halves {
  position: relative;
}

.bottom-values-halves {
  grid-row-gap: 24px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.grid-values-halves {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
}

.icon-check-in-circle {
  width: 40px;
  height: 40px;
}

.column-values-halves {
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.column-values-halves.move-down-collumn {
  padding-top: 80px;
}

.container-medium {
  max-width: 1170px;
  padding-left: 24px;
  padding-right: 24px;
}

.wrap-big-text {
  z-index: 30;
  max-width: 720px;
  grid-row-gap: 54px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.text-showreel {
  font-family: var(--font--headings);
  font-size: var(--type--h2);
  font-weight: 400;
  line-height: 120%;
}

.lightbox-showreel {
  grid-column-gap: 16px;
  background-color: var(--color--light);
  color: var(--color--dark);
  justify-content: flex-start;
  align-items: center;
  padding: 18px 70px 18px 24px;
  font-size: 22px;
  text-decoration: none;
  display: flex;
}

.play-showreel {
  width: 54px;
  height: 54px;
}

.video-showreel-section {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(20, 20, 20, .88), rgba(20, 20, 20, .64) 35%, rgba(20, 20, 20, 0));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.master-awards-table {
  width: 100%;
  max-width: 974px;
  grid-column-gap: 72px;
  grid-row-gap: 72px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.grid-thirds-awards-table {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell {
  height: 70px;
  border-bottom: 1px solid var(--color--light);
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  display: flex;
}

.cell.top {
  border-bottom-width: 2px;
  border-bottom-color: var(--color--light);
  font-family: var(--font--headings);
  font-size: 20px;
  font-weight: 500;
}

.cell.right {
  text-align: right;
  justify-content: flex-end;
}

.wrap-abstract-section-top-left {
  width: 120px;
  opacity: 1;
  filter: none;
  position: absolute;
  top: 14%;
  bottom: auto;
  left: 4%;
  right: auto;
}

.wrap-abstract-section-top-left.small {
  width: 90px;
}

.bottom-testimonial-tile {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.image-person-testimonial-tile {
  width: 64px;
  height: 64px;
  filter: saturate(0%);
  border-radius: 50%;
}

.inside-moving-testimonial {
  grid-column-gap: 32px;
  flex-direction: row;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.wrap-name-testimonial-tile {
  grid-row-gap: 2px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.text-moving-testimonial {
  font-size: 24px;
  line-height: 130%;
}

.master-moving-testimonials {
  width: 100vw;
  grid-column-gap: 32px;
  flex-direction: row;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.text-position-small {
  color: rgba(255, 255, 255, .6);
  font-size: 14px;
}

.wrap-testimonial-tile-person {
  grid-column-gap: 24px;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.logo-testimonial-tile {
  height: 32px;
}

.single-moving-testimonial {
  grid-column-gap: 32px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.tile-moving-testimonial {
  max-width: 660px;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  background-color: var(--color--elevation);
  flex-direction: column;
  align-items: flex-start;
  padding: 56px;
  display: flex;
}

.grid-process-fourths {
  grid-column-gap: 0px;
  grid-row-gap: 32px;
  grid-template-rows: auto 16px auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.text-process-four-number {
  opacity: .5;
  text-align: center;
  font-size: 96px;
  font-weight: 300;
  line-height: 100%;
}

.wrap-circles-process {
  height: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: relative;
}

.circle-process-fourths {
  width: 16px;
  height: 16px;
  background-color: var(--color--light);
  border-radius: 50%;
  flex: none;
  position: relative;
}

.line-circles-process-fourths {
  width: 74%;
  height: 1px;
  background-color: rgba(255, 252, 243, .4);
  position: absolute;
}

.bottom-process-fourths {
  max-width: 75%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.grid-gallery-halves {
  grid-column-gap: 112px;
  grid-row-gap: 112px;
  perspective: 2000px;
  grid-template-rows: auto;
  grid-template-columns: 1.3fr .7fr;
}

.flex-heading-cta {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.flex-heading-cta.mg-bottom-64 {
  margin-bottom: 64px;
}

.grid-blog-thirds {
  grid-column-gap: 24px;
  grid-row-gap: 48px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tile-blog {
  height: 100%;
  background-color: var(--color--elevation);
  flex-direction: column;
  padding-bottom: 100px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.wrap-image-blog {
  padding-top: 72%;
  position: relative;
  overflow: hidden;
}

.image-blog {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bottom-blog {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
}

.icon-blog-more {
  width: 40px;
  height: 40px;
  object-fit: contain;
  position: absolute;
  top: auto;
  bottom: 32px;
  left: 32px;
  right: auto;
}

.text-heading-3 {
  font-family: var(--font--headings);
  font-size: var(--type--h3);
  line-height: 120%;
}

.column-footer-links {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.second-footer {
  grid-column-gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.link-big-email-footer {
  width: 100%;
  height: 164px;
  border: 1px solid var(--color--light);
  font-family: var(--font--headings);
  color: var(--color--light);
  text-align: center;
  border-radius: 160px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  font-size: 68px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  transition: color .5s, background-color .5s;
  display: flex;
}

.link-big-email-footer:hover {
  background-color: var(--color--light);
  color: var(--color--dark);
}

.link-footer-social {
  color: var(--color--light);
  font-size: 20px;
  text-decoration: none;
}

.heading-footer-links {
  color: var(--color--light);
  margin-bottom: 8px;
  font-weight: 500;
}

.brand-link-footer {
  height: 32px;
}

.right-third-footer {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.footer {
  background-color: var(--color--elevation);
  color: #e2e2e2;
  padding-top: 100px;
  padding-bottom: 80px;
}

.third-footer {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.text-legal-footer {
  color: var(--color--light);
  font-size: 16px;
}

.link-legal-footer {
  color: var(--color--light);
}

.brand-footer {
  height: 100%;
  max-width: none;
}

.legal-footer {
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  display: flex;
}

.link-footer {
  color: var(--color--light);
  text-decoration: none;
}

.title-wrap-home-b {
  z-index: 10;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-direction: column;
  display: flex;
  position: relative;
}

.bottom-hero-home-b {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.left-hero-home-b {
  max-width: 680px;
}

.wrap-image-hero-home-b {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-hero-general {
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.overlay-hero-gradient {
  z-index: 3;
  background-color: rgba(20, 20, 20, .15);
  background-image: linear-gradient(#141414, rgba(20, 20, 20, .59) 22%, rgba(20, 20, 20, .6) 80%, #141414);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.master-expandable-big {
  grid-row-gap: 0px;
  flex-direction: column;
  display: flex;
}

.expandable-bottom-big {
  width: 90%;
  transform-origin: 50% 0;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.plus-line-big {
  width: 18px;
  height: 2px;
  background-color: var(--color--light);
  border-radius: 1px;
}

.plus-line-big.vertical {
  position: absolute;
  transform: rotate(-90deg);
}

.expandable-top-big {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.service-h3-expandable {
  font-family: var(--font--headings);
  font-size: var(--type--h3);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 24px;
  line-height: 120%;
}

.plus-expand-master-big {
  width: 40px;
  height: 40px;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.wrap-under-video-home-c {
  max-width: 752px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.big-text {
  font-size: 32px;
  font-weight: 400;
  line-height: 125%;
}

.expandable-single-big {
  border-top: 1px solid var(--color--light);
  cursor: pointer;
  padding: 40px 0;
}

.faq-paragraph-big {
  transform-origin: 50% 0;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 12px;
}

.subtext-project-tile-home-b {
  color: var(--color--fade-out);
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

.image-project-home-b {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.grid-projects-home-b-halves {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: 1.2fr .8fr;
}

.grid-projects-home-b-halves.reversed-projects-grid {
  grid-template-columns: .8fr 1.2fr;
}

.wrap-image-project-general {
  width: 100%;
  padding-top: 72%;
  position: relative;
  overflow: hidden;
}

.wrap-image-project-general.home-b-two {
  padding-top: 72%;
}

.wrap-image-project-general.home-b-one {
  min-height: 740px;
  padding-top: 0%;
}

.wrap-image-project-general.home-b-three {
  padding-top: 60%;
}

.wrap-image-project-general.halves-project-general {
  padding-top: 72%;
}

.link-project-general {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.master-project-tile {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  flex-direction: column;
  display: flex;
}

.bottom-project-home-b {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.list-wrapper-home-b-wide {
  margin-top: 120px;
  margin-bottom: 120px;
}

.grid-process-halves {
  grid-column-gap: 140px;
  grid-row-gap: 140px;
  grid-template-rows: auto;
  grid-template-columns: 1.3fr .7fr;
}

.master-process-circles {
  width: 100%;
  grid-row-gap: 64px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.single-process-circle {
  grid-column-gap: 72px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.big-process-circle {
  width: 240px;
  height: 240px;
  border: 1px solid var(--color--light);
  color: var(--color--fade-out);
  text-align: center;
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 400;
  line-height: 130%;
  display: flex;
}

.right-process-circle {
  max-width: 490px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-process {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

.overflow-moving-lines {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.master-moving-lines {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  overflow: visible;
}

.single-moving-line {
  z-index: 2;
  height: 130px;
  border-top: 1px solid var(--color--light);
  border-bottom: 1px solid var(--color--light);
  background-color: var(--color--dark);
  color: #e2e2e2;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.single-moving-line.first-line {
  flex: none;
  transform: translate(-214px);
}

.single-moving-line.second-line {
  flex: none;
}

.text-moving-line {
  font-family: var(--font--headings);
  color: var(--color--light);
  text-transform: uppercase;
  flex: none;
  font-size: 45px;
  font-weight: 500;
  line-height: 130%;
}

.line-moving-lines {
  width: 120px;
  height: 1px;
  background-color: #e2e2e2;
  flex: none;
  margin-left: 32px;
  margin-right: 32px;
}

.icon-lightbox-left {
  width: 32px;
}

.left-lightbox-halves {
  grid-row-gap: 240px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.video-lighbox-halves {
  z-index: 1;
  min-height: 520px;
  position: relative;
}

.icon-play {
  width: 100px;
}

.lightbox-absolute-halves {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.grid-lightbox-halves {
  grid-column-gap: 64px;
  grid-template-rows: auto;
}

.bottom-lightbox-left {
  max-width: 520px;
}

.top-left-lightbox {
  grid-column-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-lightbox {
  font-family: var(--font--headings);
  font-size: 24px;
  line-height: 140%;
}

.image-testimonials-logo {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: contain;
}

.testimonials-tabs-wrap {
  background-color: var(--color--elevation);
  padding: 64px;
}

.testimonial-tab-content {
  max-width: 570px;
  flex: 1;
  margin-left: 56px;
}

.testimonial-stars {
  height: 24px;
  margin-bottom: 24px;
}

.tab-content-wrap-testimonials {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.testimonial-image {
  width: 100%;
  max-width: 490px;
}

.text-testimonials-tab {
  font-size: 25px;
  line-height: 140%;
}

.tab-link-testimonials {
  height: 50px;
  max-width: 150px;
  opacity: .4;
  background-color: rgba(221, 221, 221, 0);
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}

.tab-link-testimonials.w--current {
  opacity: 1;
  background-color: rgba(221, 221, 221, 0);
}

.tabs-menu-testimonials {
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
  display: flex;
}

.testimonial-person-tabs {
  opacity: .7;
  margin-top: 24px;
  font-size: 20px;
  line-height: 140%;
}

.grid-gallery-three-tile {
  z-index: 10;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
}

.master-testimonial-big {
  width: 100%;
  max-width: 1200px;
  grid-row-gap: 64px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: 40px;
  display: flex;
}

.top-quote-big {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.image-person-testimonial-tile-big {
  width: 120px;
  height: 120px;
  filter: saturate(0%);
  border-radius: 50%;
}

.text-quote-big {
  color: var(--color--light);
  font-size: 70px;
  font-weight: 300;
  line-height: 124%;
}

.icon-quote-big {
  height: 48px;
}

.wrap-name-testimonial-big {
  grid-row-gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.grid-blog-halves {
  width: 100%;
  max-width: 900px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.flex-cta-center {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.flex-cta-center.mg-top-80 {
  margin-top: 80px;
}

.flex-cta-center.mg-top-24 {
  margin-top: 24px;
}

.wrap-heading-home-b {
  z-index: 20;
  grid-row-gap: 24px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  display: flex;
  position: relative;
}

.master-hero-home-b {
  height: 300vh;
  position: relative;
}

.video-home-b {
  width: 40vw;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo-home-c {
  width: 100%;
}

.section-moving-text {
  margin-top: 120px;
  margin-bottom: 120px;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}

.master-moving-text {
  width: 100vw;
  grid-column-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.single-moving-text {
  grid-column-gap: 24px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-moving-text {
  text-transform: uppercase;
  flex: none;
  font-size: 120px;
  font-weight: 200;
  line-height: 120%;
}

.abstract-moving-text {
  width: 80px;
}

.grid-logos {
  grid-column-gap: 24px;
  grid-row-gap: 140px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image-logo {
  opacity: 1;
}

.gird-projects-halves {
  grid-column-gap: 24px;
  grid-row-gap: 64px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.track-expertise {
  z-index: 2;
  height: 400vw;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-bottom: 5vh;
  position: relative;
}

.camera-expertise {
  width: 100vw;
  height: 100vh;
  color: rgba(255, 255, 255, .6);
  font-weight: 300;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.frame-expertise {
  width: 100%;
  height: 100%;
  grid-column-gap: 4vw;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5vh;
  padding-left: 5vh;
  display: flex;
}

.wrap-expertise-text {
  height: 80%;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-expertise {
  color: var(--color--light);
  text-transform: uppercase;
  flex: none;
  font-size: 35vw;
  font-weight: 300;
  line-height: 100%;
}

.grid-expertises-halves {
  grid-template-rows: auto;
}

.master-expertises-list {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.h3-expertises {
  opacity: .7;
  color: var(--color--light);
  margin-top: 0;
  margin-bottom: 0;
}

.divider-expertises-top {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 252, 243, .6);
}

.text-expertise-halves {
  color: rgba(255, 252, 243, .9);
  font-size: 24px;
  line-height: 130%;
}

.divider-expertises-general {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 252, 243, .3);
}

.number-thirds-process {
  font-family: var(--font--headings);
  color: var(--color--light);
  font-size: 120px;
  line-height: 100%;
}

.bottom-sticky-process {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.text-process-sticky {
  font-size: 24px;
  line-height: 130%;
}

.grid-process-thirds {
  grid-column-gap: 24px;
  grid-row-gap: 64px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.column-process-thirds {
  flex-direction: column;
  display: flex;
}

.column-process-thirds.third-column {
  padding-top: 560px;
}

.column-process-thirds.second-column {
  padding-top: 280px;
}

.tile-process-thirds {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: var(--color--elevation);
  flex-direction: column;
  align-items: flex-start;
  padding: 64px;
  display: flex;
}

.tabs-industries {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  grid-template-rows: auto;
  grid-template-columns: 430px 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}

.tabs-menu-industries {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.tab-link-industries {
  font-family: var(--font--headings);
  color: rgba(255, 252, 243, .5);
  font-size: var(--type--h3);
  background-color: rgba(221, 221, 221, 0);
  padding: 0;
  font-weight: 500;
  line-height: 120%;
}

.tab-link-industries.w--current {
  color: var(--color--light);
  background-color: rgba(221, 221, 221, 0);
}

.tabs-content {
  flex: 1;
}

.content-tab-industries {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-direction: column;
  display: flex;
}

.limit-under-industry-image {
  max-width: 550px;
}

.subname-testimonial-slider {
  opacity: .8;
  font-size: 20px;
}

.icon-arrow-slider {
  width: 52px;
  height: 52px;
  object-fit: contain;
}

.mask-testimonials {
  height: auto;
  position: static;
  overflow: visible;
}

.slide-nav-hidden {
  display: none;
}

.text-testimonial {
  font-size: 32px;
  font-weight: 300;
  line-height: 130%;
}

.wrap-testimonial-name {
  grid-row-gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.master-wrap-slider {
  max-width: 1068px;
  position: relative;
}

.logo-testimonial-slider {
  width: 200px;
  height: 28px;
  object-fit: contain;
  object-position: 0% 50%;
}

.container-testimonials-slider {
  width: 100%;
  max-width: 1270px;
  padding-left: 40px;
  padding-right: 40px;
}

.slider-testimonials {
  height: auto;
  background-color: rgba(255, 253, 245, 0);
  position: static;
}

.slide-testimonials {
  height: auto;
  padding-left: 16px;
  padding-right: 16px;
  position: static;
  overflow: visible;
}

.arrow-testimonials {
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  display: flex;
  top: auto;
  bottom: -92px;
  left: 0%;
  right: auto;
}

.arrow-testimonials.right-arrow {
  left: 64px;
}

.bottom-testimonial {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.tile-testimonials-slider {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  background-color: var(--color--elevation);
  flex-direction: column;
  align-items: flex-start;
  padding: 80px;
  display: flex;
}

.section-big-image {
  height: 100vh;
  max-height: 1100px;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}

.image-big-image-section {
  width: 100%;
  height: 120%;
  object-fit: cover;
}

.limit-connection-subtext {
  max-width: 960px;
}

.connection-logo {
  height: 88px;
  margin-left: 32px;
  margin-right: 32px;
}

.connection-circle {
  width: 13px;
  height: 13px;
  background-color: var(--color--light);
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.connection-circle.left-circle {
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  position: relative;
}

.connection-circle.right-circle {
  margin-left: 8px;
}

.connection-line {
  width: 100%;
  height: 1px;
  background-color: var(--color--light);
}

.connection-line.right-line {
  transform-origin: 100%;
}

.connection-line.left-line {
  transform-origin: 0%;
}

.connection-text {
  font-family: var(--font--headings);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 27px;
  line-height: 27px;
  position: absolute;
  top: 32px;
  bottom: auto;
  left: auto;
  right: auto;
}

.wrap-connection {
  width: 100%;
  max-width: 880px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.master-connection {
  grid-row-gap: 100px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.connection-line-master {
  flex: 1;
  align-items: center;
  display: flex;
}

.title-wrap-about-a {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
  display: flex;
}

.right-about-a-hero {
  max-width: 462px;
  margin-bottom: 12px;
}

.wrap-grids-about-a {
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.grid-about-a-top {
  grid-column-gap: 24px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 2.6fr 1.4fr;
}

.image-gallery-about {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-bottom-about-a {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: .6fr 2fr 1.4fr;
}

.master-team-wide {
  max-width: 992px;
  grid-row-gap: 24px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.single-team-wide {
  grid-column-gap: 100px;
  background-color: var(--color--elevation);
  justify-content: flex-start;
  align-items: center;
  padding: 52px;
  display: flex;
}

.image-team-wide {
  width: 312px;
}

.right-team-wide {
  max-width: 540px;
  grid-row-gap: 40px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.top-team-wide {
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.text-opacity-80 {
  opacity: .8;
}

.master-hero-c-gallery {
  z-index: 20;
  justify-content: flex-start;
  align-items: center;
  margin-top: 120px;
  display: flex;
  position: relative;
}

.move-hero-about-b {
  grid-column-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.single-hero-about-b {
  grid-column-gap: 40px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-hero-about-b {
  width: 100%;
  max-width: 360px;
  flex: none;
}

.grid-team {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}

.tile-team {
  grid-row-gap: 32px;
  background-color: var(--color--elevation);
  text-align: center;
  flex-direction: column;
  padding: 48px;
  display: flex;
}

.image-team {
  width: 100%;
}

.wrap-team-name {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.space-80 {
  height: 80px;
}

.logo-hero-about-c {
  z-index: 10;
  width: 100%;
  position: relative;
}

.grid-gallery-rotate {
  width: 100%;
  max-width: 1122px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
}

.column-gallery-rotate {
  grid-row-gap: 40px;
  flex-direction: column;
  display: flex;
}

.image-galery-rotate.left-image {
  transform-origin: 100% 100%;
}

.heading-expandable {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}

.expandable-top {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.expandable-bottom {
  width: 90%;
  transform-origin: 50% 0;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.master-expandable-faq-halves {
  width: 100%;
  grid-row-gap: 16px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.faq-paragraph {
  transform-origin: 50% 0;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 12px;
  font-size: 16px;
}

.expandable-single-faq {
  background-color: var(--color--elevation);
  cursor: pointer;
  padding: 32px 40px;
}

.grid-faq-halves {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-rows: auto;
}

.left-faq-halves {
  max-width: 510px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.plus-expand-master {
  width: 40px;
  height: 40px;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.plus-line {
  width: 18px;
  height: 2px;
  background-color: #f3f9ff;
  border-radius: 2px;
}

.plus-line.vertical {
  position: absolute;
  transform: rotate(-90deg);
}

.master-openings {
  max-width: 1120px;
  grid-row-gap: 24px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.tile-opening {
  background-color: var(--color--elevation);
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  display: flex;
}

.left-opening {
  grid-row-gap: 12px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.list-projects-wide {
  flex-direction: column;
  display: flex;
}

.grid-project-wide {
  grid-column-gap: 72px;
  border-top: 1px solid rgba(255, 252, 243, .3);
  grid-template-rows: auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.image-project-wide {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.right-project-wide {
  width: 100%;
  max-width: 460px;
  grid-row-gap: 24px;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.title-wrap-project {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.limit-subtitle-project {
  max-width: 870px;
}

.list-details-project {
  grid-column-gap: 48px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 32px;
  display: flex;
}

.single-project-detail {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-project-detail.regular-weight {
  font-weight: 400;
}

.container-small {
  max-width: 900px;
  padding-left: 24px;
  padding-right: 24px;
}

.grid-gallery-thirds {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.lightbox-gallery {
  display: block;
  position: relative;
  overflow: hidden;
}

.image-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-project-gallery {
  width: 101%;
  height: 100%;
  background-color: var(--color--dark);
  transform-origin: 50% 0;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.list-wide-gallery {
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.divider-cms {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 252, 243, .4);
  margin-bottom: 120px;
}

.tile-contact-left {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: var(--color--elevation);
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 64px;
  display: flex;
}

.single-contact-list-icon-one {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.top-contact-one {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.success-message {
  background-color: var(--color--light);
  color: var(--color--dark);
}

.right-contact-two {
  max-width: 380px;
  grid-row-gap: 32px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.form-contact {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  display: flex;
}

.image-abstract-contact {
  height: 28px;
}

.divider-contact-tile {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 252, 243, .4);
}

.text-field-contact {
  height: 52px;
  background-color: var(--color--elevation);
  color: var(--color--light);
  border: 1px solid rgba(255, 252, 243, .6);
  border-radius: 64px;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
}

.text-field-contact:focus {
  border-color: var(--color--light);
  color: var(--color--light);
}

.text-field-contact::-ms-input-placeholder {
  color: rgba(255, 252, 243, .7);
}

.text-field-contact::placeholder {
  color: rgba(255, 252, 243, .7);
}

.text-form-contact-two {
  max-width: 402px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.gird-contact-two {
  grid-column-gap: 24px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
}

.bottom-contact-one {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.form-block-contact {
  width: 100%;
  max-width: 330px;
  margin-bottom: 0;
}

.icon-contact-list-one {
  width: 32px;
  height: 32px;
}

.h2-contact-tile {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 44px;
}

.title-wrap-blog-template {
  width: 100%;
  max-width: 1220px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.limiti-subtitle-blog {
  max-width: 990px;
}

.title-wrap-pricing {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  display: flex;
}

.top-text-pricing-tile {
  color: var(--color--light);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 125%;
}

.wrap-pricing-name {
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.single-checklist {
  grid-column-gap: 12px;
  text-align: left;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.grid-pricing-thirds {
  grid-column-gap: 24px;
  grid-row-gap: 56px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-check-list {
  font-size: 18px;
  line-height: 140%;
}

.bottom-pricing-tile {
  width: 100%;
  grid-row-gap: 48px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.top-pricing-tile {
  grid-row-gap: 32px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.tile-pricing {
  grid-row-gap: 64px;
  background-color: var(--color--elevation);
  color: var(--color--light);
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
  display: flex;
}

.wrap-checklist {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.left-product {
  max-width: 670px;
  grid-row-gap: 40px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.title-wrap-product {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.limit-product-subtitle {
  max-width: 640px;
}

.grid-product {
  grid-template-rows: auto;
  grid-template-columns: 1.2fr .8fr;
}

.tile-product {
  width: 100%;
  max-width: 440px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: var(--color--elevation);
  flex-direction: column;
  align-items: flex-start;
  padding: 52px;
  display: flex;
}

.text-price-product {
  font-family: var(--font--headings);
  font-size: 54px;
  line-height: 120%;
}

.add-to-cart {
  width: 100%;
}

.field-label-hidden {
  display: none;
}

.default-state-add-to-cart {
  margin-bottom: 0;
}

.wrap-brand-checkout {
  height: 80px;
  background-color: var(--color--elevation);
  border-bottom: 1px solid rgba(255, 255, 255, .6);
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-brand-checkout {
  height: 22px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.brand-checkout {
  height: 100%;
  max-width: none;
}

.checkbox-label {
  margin-bottom: 0;
}

.shipping-method {
  background-color: #171718;
}

.icon-product-checkout {
  max-width: 60px;
}

.block-header {
  background-color: var(--color--elevation);
  border-color: rgba(255, 255, 255, .4);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.checkout-form {
  background-color: var(--color--dark);
  padding: 64px 0;
}

.block-content {
  background-color: var(--color--elevation);
  border-bottom-color: rgba(255, 255, 255, .5);
  border-left-color: rgba(255, 255, 255, .5);
  border-right-color: rgba(255, 255, 255, .5);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 0;
}

.billing-address-toggle {
  justify-content: flex-start;
  align-items: center;
}

.utility-page-wrap {
  width: 100vw;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
}

.utility-page-content {
  width: 90%;
  max-width: 400px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.icon-lock {
  width: 100%;
  max-width: 280px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.title-wrap-404 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.tile-changelog {
  width: 100%;
  max-width: 610px;
  background-color: var(--color--elevation);
  margin-left: auto;
  margin-right: auto;
  padding: 40px 32px;
}

.title-wrap-sales {
  z-index: 10;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.limit-subtitle-sales {
  max-width: 850px;
}

.flex-cta-sales {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.grid-thirds-mokckups {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.sales-mock-image {
  width: 100%;
  border: 1px solid rgba(231, 231, 231, .05);
  border-radius: 12px;
  margin-bottom: 0;
}

.overlay-sales-gallery {
  z-index: 20;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#141414, rgba(20, 20, 20, 0) 30%, rgba(20, 20, 20, 0) 78%, #141414);
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section-sales-mockups {
  z-index: 2;
  height: 95vh;
  max-height: 900px;
  min-height: 600px;
  background-color: var(--color--elevation);
  position: relative;
  overflow: hidden;
}

.sales-mock-link-block {
  width: 100%;
  margin-bottom: 24px;
  transition: transform .5s;
}

.sales-mock-link-block:hover {
  transform: scale(1.03);
}

.container-sales-mockups {
  max-width: 1400px;
  padding-left: 24px;
  padding-right: 24px;
}

.grid-included {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 64px;
}

.included-card {
  min-height: 340px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--color--elevation);
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  display: flex;
}

.included-card.figma-card {
  min-height: 0;
  grid-column-gap: 56px;
  text-align: left;
  flex-direction: row;
  justify-content: flex-start;
  padding: 32px;
}

.included-padding-wrap {
  width: 100%;
  grid-row-gap: 12px;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  display: flex;
}

.image-included {
  width: 100%;
}

.icon-figma {
  width: 120px;
  height: 120px;
}

.wrap-figma-content {
  grid-row-gap: 12px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.master-sales-pages {
  grid-row-gap: 80px;
  flex-direction: column;
  display: flex;
}

.single-sales-pages {
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.grid-thirds-sales-page {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.sales-card {
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--color--elevation);
  color: var(--color--light);
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  text-decoration: none;
  transition: transform .2s;
  display: flex;
}

.sales-card:hover {
  transform: translate(0, -4px);
}

.image-sales-page {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, .1);
}

.grid-fourths-sales-fourths {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-thirds-all-features {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 64px;
}

.more-power-card {
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--color--elevation);
  color: var(--color--light);
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  display: flex;
}

@media screen and (max-width: 991px) {
    .section.hero-home-a {
    padding-top: 260px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section.hero-home-a {
    padding-top: 55px;
  }

  .text-scroll-project-name {
    font-size: 33px;
  }

  .h1-animation-one, .h1-animation-two {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .subtitle {
    font-size: 26px;
  }

  .title-wrap-home-a {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}

@media screen and (max-width: 479px) {

  .subtitle {
    font-size: 24px;
  }
}


