:root {
  --color--dark: #141414;
  --font--body: Satoshi, sans-serif;
  --color--light: #fffcf3;
  --type--body-regular: 20px;
  --font--headings: Marcellus, sans-serif;
  --type--h1: 5.5em;
  --type--h2: 3.0em;
  --type--h3: 2.0em;
  --color--elevation: #20201f;
  --color--fade-out: #898883;
  --type--body-small: 18px;
  --type--subtitle: 32px;
  --white: white;
  --black: black;
}

@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 2000px) {
}
@media only screen and (max-width: 767px) {
  :root {
    --type--h1: 2.5em;
    --type--h2: 2.5em;
    --type--h3: 1.5em;
  }
}

@media screen and (max-width: 479px) {
    :root {
        --type--h1: 3.5em;
        --type--h2: 2.0em;
        --type--h3: 1.5em;
      }
}

@media only screen and (max-width: 375px) {
  :root {
    --type--h1: 2.5em;
    --type--h2: 1.5em;
    --type--h3: 1.2em;
  }
}
@media only screen and (device-width: 768px) {
  :root {

  }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}

h1 {
  font-family: var(--font--headings);
}